.clsasidemenus,
.clssectioncontent {
  height: 900px;
}
.myInfoBody {
  height: 557px;
}

.clsdashboardcount {
  /* border: 1px solid red; */
  height: 90px;
  width: 100%;
  float: left;
}

.clsdashboardsocial {
  height: 200px;
  width: 100%;
  float: left;
  margin: 1.5% 0% 1.5% 0%;
}

.clsdashboardnotice {
  height: 253px;
  width: 100%;
  float: left;
  margin: 0% 0% 1.5% 0%;
}

.clsdashboardleft {
  /* border: 1px solid red; */
  width: 49%;
  float: left;
  margin: 0% 1.5% 0% 0%;
}

.clsdashboardright {
  /* border: 1px solid red; */
  width: 49.5%;
  float: left;
}

.clsdcount {
  height: 90px;
}

.clsdsocial {
  height: 200px;
}

.clsdnotice {
  height: 253px;
}

.cls_d {
  background-color: white;
  height: 90px;
  width: 48.5%;
  float: left;
  border-radius: 3px;
}

.cls_d_cnt {
  text-align: center;
  float: left;
  width: 49%;
  display: grid;
  /* padding: 35px 0px 0px 1px; */
}

.cls_d_cnt .fa-edit {
  color: white;
}

.cls_d_cnt .fa-money {
  color: white;
}

.cls_d_cnt .fa-flag {
  color: white;
}

.cls_d_cnt .fa-folder {
  color: white;
}

.cls_d_fa {
  font-size: 28px;
  padding: 23px 0px 0px 0px;
}

.cls_faspan {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.cls_d_span {
  font-size: 26px;
  display: inline-block;
  padding: 30px 0px 0px 0px;
  font-weight: bold;
  color: white;
}

.cls_myinfo {
  float: left;
  height: 600px;
  width: 48.9%;
  margin: 1.5% 0% 1.5% 0%;
  background-color: white;
}

.cls_noticeboard {
  float: left;
  /* border: 1px solid black; */
  border-radius: 3px;
  width: 49.2%;
  margin: 1.5% 0% 0% 1.5%;
  /* background-color: #f0f1f3; */
  background-color: white;
}

.cls_allExamResult {
  float: left;
  /* border: 1px solid black; */
  border-radius: 3px;
  width: 49.2%;
  margin: 1.5% 0% 1.5% 1.5%;
  /* background-color: #f0f1f3; */
  background-color: white;
}

.clsStudentDashboardCount {
  height: 90px;
  width: 100%;
  float: left;
  margin: 0px 0px 0px 0px;
}

.cls_sms {
  height: 90px;
  width: 48.5%;
  float: left;
  border-radius: 0px;
  color: white;
  font-weight: bold;
}

.cls_fb {
  background: -webkit-linear-gradient(358deg, #1845a7, #9cb4e9);
}

.cls_twitter {
  background: -webkit-linear-gradient(358deg, #1da1f2, #87ccf7);
}

.cls_googleplus {
  background: -webkit-linear-gradient(358deg, #db4437, #fba69f);
}

.cls_linkedin {
  background: -webkit-linear-gradient(358deg, #0b5dd7, #99cbe6);
}

.cls_smscontent {
  padding: 12px;
  float: left;
  height: 40px;
  width: 30%;
}

.cls_smscontent label {
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}

.cls_fbcount {
  float: right;
  font-size: 30px;
  margin: 30px 15px 0px 0px;
}

.cls_fbdigit {
  color: white;
}

.cls_fblabel {
  color: white;
}

.cls_studentimg {
  height: 150px;
  float: left;
  margin: 20px 0px 0px 20px;
}

.cls_myInfoDetails {
  float: right;
  width: 72%;
  font-size: 14px;
  font-weight: 500;
}

.cls_ulList {
  padding: 0;
  margin: 10px 0px 0px 10px;
}

.cls_List {
  list-style: none;
  color: grey;
  float: left;
}

.cls_Listname {
  float: right;
  padding: 0px 30px 0px 0px;
}

.cls_box {
  width: 100%;
  height: 25px;
  float: left;
  padding: 8px 0px 0px 0px;
}
.cls_nameBox {
  width: 49%;
  height: 25px;
  float: left;
}
.cls_realBox {
  width: 49%;
  height: 25px;
  float: left;
}
.cls_profileimage {
  /* border: 1px solid red; */
  width: 27%;
  height: 400px;
  float: left;
}
.cls_profiletop {
  /* border: 1px solid red; */
  height: 180px;
  float: left;
  width: 100%;
}
.cls_profilebottom {
  /* border: 1px solid red; */
  height: 40px;
  float: left;
  width: 100%;
  padding-left: 15.5%;
}
.cls_profilefa {
  background: #e7e4e4;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: black;
  border-radius: 3px;
}
.cls_noticeContent {
  height: auto;
}
.allexamlistbody {
  height: auto;
}
.cls_noticedata {
  height: auto;
  width: 100%;
  padding: 2% 2% 0% 2%;
  float: left;
}
.cls_noticedata p {
  margin: 0px;
  line-height: 20px;
  font-size: 12px;
}
.clsp1 {
  color: grey;
}
.clsp2 {
  color: rgb(39, 214, 74);
  font-weight: bold;
}
.clsp3 {
  color: grey;
}
.cls_spacing {
  height: 10px;
  border: 1px solid red;
}
.cls_fcolor {
  color: white;
}
.cls_exambc {
  background-color: #4dd34d;
}
.cls_moneybc {
  background-color: #f44336;
}
.cls_eventsbc {
  background-color: #1da1f2;
}
.cls_folderbc {
  background-color: #ffe000;
}
.clssectioncontent footer {
  /* border: solid red 1px; */
  width: 97%;
  float: left;
  margin-left: 1.5%;
  font-size: 12px;
  color: #a3a1a1;
}
.clssectioncontent .row {
  height: auto;
}
.clssectioncontent {
  height: 915px;
}
.clsasidemenus {
  height: 915px;
}
.clsallexamsearch {
  float: right;
  width: 25%;
  border-radius: 30px;
  height: 25px;
  border: none;
  outline: unset;
  background-color: #f8f8f8;
  font-size: 11px;
}


